/* Profile Picture Styling */
.md-typeset img[alt='Profile Picture'] {
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Footer Styling */
.md-footer-meta {
    border-top: 1px solid #525151;
    background-color: #131111;
    text-align: left;
}

.md-footer-meta__inner {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
}


/* Default Theme */
[data-md-color-scheme='default'] {
    --md-hero-bg-color: #050735;
    --border-color: #dcdcdc;
    --primary-gradient: linear-gradient(to right, #4a30cc, #1a96cc, #86d9a8);
    --header-color: #1E2129;
}

/* Slate Theme */
[data-md-color-scheme='slate'] {
    --md-default-fg-color: hsla(100, 100%, 100%, 0.87);
    --md-default-bg-color: #000;
    --md-code-bg-color: #1E2129;
    --md-hero-bg-color: #050735;
    --md-hero-illustration-color: #fff;
    --border-color: #4a4b50;
    --primary-gradient: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
    --header-color: #1E2129;
}

/* Header Styling */
.md-header {
    background-color: var(--header-color);
}


/* Dashed Horizontal Rule */
.hr-dashed {
    border-bottom: 1px dashed var(--border-color);
}


/* Headings Styling */
h1, h2, h3, h4 {
    font-weight: 700 !important;
}

h1, h2 {
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    background-size: cover !important;
    background-image: var(--primary-gradient) !important;
}


.skills-section {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 10px;
}

.skills-section h3 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.skill {
    margin-bottom: 15px;
}

.skill-name {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
}

.skill-name i {
    margin-right: 8px;
    color: #4CAF50;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 20px;
    position: relative;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.progress {
    height: 100%;
    background: linear-gradient(90deg, #2d2b9e, #09bda5);
    border-radius: 5px;
    text-align: right;
    line-height: 20px;
    color: white;
    padding-right: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    width: 0%;
    transition: width 1s ease;
}

.progress-bar {
    --progress-width: 0%;
}

.progress-bar .progress {
    animation: fillProgress 2s ease-in-out forwards;
}

@keyframes fillProgress {
    0% { width: 0%; }
    100% { width: var(--progress-width); }
}


/* Section Styles */
.experience-section, .education-section {
    font-family: 'Roboto', sans-serif;
}

.experience-section h3, .education-section h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.experience-section h3 i, .education-section h3 i {
    margin-right: 10px;
    color: #4CAF50;
}

/* Job and Education Entry Styles */
.job, .education-item {
    margin-bottom: 5px;
}

.job h4, .education-item h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.job-date {
    font-size: 14px;
    font-style: italic;
    color: #777;
    margin-left: 10px;
}

.education-item p {
    font-size: 16px;
    color: #777;
}

/* Description Styles */
.job-description, .thesis-title {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
    line-height: 1.6;
}

.institution {
    font-size: 16px;
    color: #777;
}

/* Optional Divider Styling */
.job, .education-item {
    border-left: 3px solid #065ccc;
    padding-left: 10px
}

.hover-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px; /* Adds space between the blocks */
}

.hover-table td {
    text-align: center;
    padding: 20px;
    transition: background-color 0.3s ease;
    background-color: #f9f9f9; /* Initial background color for blocks */
    border-radius: 10px; /* Rounded corners for blocks */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Slight shadow for a raised effect */
}

.hover-table td:hover {
    background-color: #e0e0e0; /* Color shade when hovering over the block */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.hover-table td img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.hover-table td:hover img {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.section-background {
    background-color: #f7f7f7; /* Light gray background */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
